body {
  margin: 0;
}
.header {
  width: 100%;
  height: 99px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background-color: white;
  border-bottom-width: 2px;
  border-bottom-style: ridge;
}
.search input {
  width: 100%;
  background-color: beige;
}
.header img {
  width: 125px;
  height: 24.88px;
  margin: 35px;
}
.search i {
  height: 18px;
  width: 18px;
  margin: 15px;
}
.search {
  width: 500px;
  height: 44px;
  border-style: ridge;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: beige;
}
.search input {
  border: none;
  outline: none;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 40px;
}
li {
  display: inline;
  margin: 10px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
i {
  width: 28px;
  height: 28px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}
.login-btn {
  border-style: ridge;
  border-radius: 0px;
  font-size: 20px;
  background-color: white;
  margin-right: 15px;
  padding: 8px 16px 8px;
}
.signup-btn {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 10px;
  border-style: ridge;
}
.header1 {
  background-color: aliceblue;
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
}
.header1 ul {
  list-style-type: none;
  margin-left: 250px;
}
.header1 li {
  display: inline;
  font-size: 21px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
hr {
  margin: 0;
}
.banner {
  width: 1264px;
  height: 400px;
  margin: 20px 40px 10px 40px;
}
p {
  margin-left: 40px;
  font-weight: bold;
  margin-top: 20px;
}
.sign {
  display: inline;
  margin: 0;
}
.sign i {
  margin: 0;
}
.for {
  display: inline-block;
}
/* Recommended flexbox */
.recommended {
  width: 1264px;
  height: 255px;
  display: flex;
  flex-direction: row;
  margin: 40px;
  margin-top: 20px;
  justify-content: space-between;
}
.jog1 {
  width: 190px;
  height: 249px;
  border-style: ridge;
}
.jog2 {
  width: 190px;
  height: 249px;
  border-style: ridge;
}
.recommended i {
  float: right;
  margin: 5px;
}
.recommended img {
  width: 140px;
  height: 75px;
  margin: 15px;
}
.recommended img {
  margin: 30px 0 20px 10px;
}
.recommended h4 {
  margin: 5px 0 15px 5px;
  /* (top right bottom left) */
}
.recommended p,
h1 {
  margin: 0 0 0 5px;
}
.recommended h5 {
  background-color: beige;
  margin: 0;
  margin-left: 5px;
  display: inline;
}
.footer {
  width: 1349px;
  height: 550px;
  background-color: black;
}
.footer h1 {
  color: white;
  padding: 20px 40px 0 40px;
}
.footer ul {
  list-style-type: none;
  color: white;
  margin: 0;
}
.footer ul li {
  display: block;
  font-size: 13px;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 40px 20px 0px;
}
.footer-flex1 {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
}
.google {
  width: 136px;
  height: 120px;
}
.foot {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 400px;
  justify-content: space-between;
}
.footnote {
  width: 1349px;
  height: 133px;
  background-color: rgb(29, 26, 26);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footnote button {
  background-color: black;
  color: white;
  font-weight: bolder;
  width: 226px;
  height: 42px;
  border-style: ridge;
  border-color: white;
}
.footnote ul {
  color: white;
}
.footnote i {
  margin: 0;
}

.test {
  margin-top: 50px !important;
}
